# Git
.git/
.gitignore

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Node
node_modules/
npm-debug.log

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
scc-server

# Build artifacts
dist/

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Misc
*.img
README.md
nginx.conf
