#mainContainer {
  position: absolute;
  right: 0;
  left: -30px;
  top: 0;
  bottom: 0;
  overflow: hidden;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#previewImg,
#backgroundImg {
  width: 100%;
  height: auto;
  position: absolute;
}

#previewImg {
  filter: blur(7px);
  z-index: 1;
}

#backgroundImg {
  opacity: 0;
  z-index: 2;
  transition: opacity 0.3s ease-in;
}

#backgroundImg {
  width: 100%;
  height: auto;
}

@media screen and (max-aspect-ratio: 1.16) {
  #previewImg,
  #backgroundImg {
    width: auto;
    height: 120%;
  }
}

@media screen and (max-width: 375px) {
  #previewImg,
  #backgroundImg {
    height: 105%;
  }
}

@media screen and (max-width: 320px) {
  #previewImg,
  #backgroundImg {
    height: 100%;
  }
}

#controlsContainerFather {
  position: absolute;
  z-index: 10;
  bottom: 70px;
  right: 4%;
}
 
/* Buttons align for phones */

.lineC {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label {
  color: var(--light);
  margin-inline: 10px;
}

@media screen and (max-width: 1000px) {
  #controlsContainerFather {
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    bottom: 20px;
  }
}

@media screen and (max-width: 470px) {
  .lineC {
    flex-direction: column;
  }

  .label {
    margin-block: 12px;
  }

  #mainContainer {
    top: -100px;
  }
}

