@import url(./css/layout.css);
@import url(./dropdown/dropdown.css);

:root {
  font-family: 'Roboto', sans-serif;
  --dark: #3c3c3c;
  --light: #f0f0f0;
  --dropdown-width: 13em;
}

@font-face {
  font-family: FrenchScriptMT;
  src: url(../public/fonts/frenchscriptmt.ttf);
}

#titleContainer {
  z-index: 10;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#title {
  font-size: 140px;
  color: var(--light);
  opacity: 40%;
  font-family: FrenchScriptMT;
  margin: 0;
  font-weight: normal;
  text-decoration: none;
  margin-left: 24px;
}

#title:hover {
  opacity: 55%;
}

@media screen and (max-width: 1000px) {
  #title {
    font-size: 120px;
  }
}

@media screen and (max-width: 650px) {
  #title {
    font-size: 100px;
  }
}

.external-link {
  margin-bottom: 39px;
  margin-left: 8px;
  color: var(--light);
  opacity: 30%;
}

@media screen and (max-width: 1000px) {
  .external-link {
    margin-bottom: 34px;
  }
}

@media screen and (max-width: 650px) {
  .external-link {
    margin-bottom: 27px;
  }
}

#authorLabel {
  color: var(--light);
  opacity: 10%;
  position: absolute;
  z-index: 20;
  right: 0;
  top: 0;
  margin: 7px;
}


#languageSelect {
  /* Layout */
  position: absolute;
  z-index: 20;
  left: 0;
  top: 0;
  margin: 7px;

  /* Styling */

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  padding: 5px 7px;
  font-size: 16px;
  background-color: transparent;
  border: none;
  color: #ffffffa0;
  background-color: #ffffff20;
  cursor: pointer;
  outline: none;
  text-align: center;

  transition: background-color 0.2s;

  &:hover {
    background-color: #ffffff40;
  }
}

/* debug console */

#console {
  display: none;
  z-index: 5;
  position: absolute;
  color: green;
  height: 200px;
  width: 300px;
  border: 1px solid red;
  bottom: 200px;
  left: 20px;
  overflow: scroll;
}

p {
  margin-block: 0;
}

/* GALLARY */


#gallaryMainContainer {
  margin-top: 200px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.gallaryItem {
  display: block;
  width: 300px;
  height: 300px;
}

.gallaryItemImg {
  position: absolute;
  width: 300px;
  height: 300px;
}

.gallaryItemOverlay {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 300px;
  font-size: 2em;
  color: transparent;
  background: transparent;

  transition: all 0.2s;

  &:hover {
    color: var(--light);
    background: #0000008c;
  }
}

